@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  backdrop-filter: brightness(50%);
  /* background: url("/public/Images/background.avif"); */
 background-color: black;
  background-position: center;
  background-repeat: no-repeat;
 background-size: cover;
  width: 100%;
height: 120vh;
 font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.app {
  text-align: center;
}

.app-header {
padding: 10px;
font-size: 20px;
width: 100%;
display: flex;
justify-content: space-between;
}

.text{
  background: url("/Images/SHADOW.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   width: 100%;
    padding: 5px;
    color: rgba(240, 233, 233, 0.21);
  background-clip: text;
}
@media(max-width:400px){
  .text h1{
    font-size: 30px;
  }
}
.content {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.song-list {
  width: 30%;
  height: 540px;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  content: "";
  left: 0px;
  top: 100px;
  background-color: rgb(15, 14, 14);
  z-index: 2;
  overflow-y: auto;
  box-sizing: border-box;
  color: white;
  padding: 20px;
  
}

@media(max-width:1000px){
  .song-list{
    width: 100%;
  }
}
@media(max-width:400px){
  .song-list{
    width: 100%;
    top: 70px;
  }
}
.song-list ul {
  list-style-type: none;
  padding: 0;
}

.song-list li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex: 1;
  gap: 10px;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: center;
  
  
 
}

.song-list::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.song-list::-webkit-scrollbar-track {
  background: #e4dada;
  border-radius: 20px; /* Color of the track */
}

.song-list::-webkit-scrollbar-thumb {
  background: rgb(129, 73, 73); /* Color of the scrollbar */
  border-radius: 5px; /* Rounded corners */
}



.song-list li:hover {
  background-color: #4d4848;
  color: rgb(239, 230, 230);
  border-radius: 10px;
  transition: all 0.5s;
}

.player {
 color: white;
 display: flex;
 justify-content: space-around;
 align-items: center;
 flex-direction: column;
 padding: 20px;
  background-color: rgba(54, 45, 45, 0.337);
  backdrop-filter: blur(10px);
  height: 80vh;
  border-radius: 5px;
  animation: border 5s linear infinite;
}

@keyframes border{
  0%{
    box-shadow: 0px 0px 10px white;
  }
  25%{
    box-shadow: 0px 0px 20px rgb(230, 95, 95);
  }
  50%{
    box-shadow: 0px 0px 20px rgb(194, 100, 226);
  }
  75%{
    box-shadow: 0px 0px 20px rgb(87, 218, 87);
  }
  100%{
    box-shadow: 0px 0px 20px rgb(55, 195, 205);
  }
}

@media(max-width:600px){
  .player{
    width: 100%;
  margin: 30px 10px;
  }
  .content{
    padding: 0px;
  }
  .player img{
    width: 150px;
    height: 150px;
  }
}

.rotate{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
  transition: transform 0.3s ease;
  transition: border 1s ease-in-out linear;
  
}

.notrotate{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
@keyframes rotate{
0%{
  transform: rotate(0deg);
  border: 5px solid white;
  box-shadow: 0px 0px 10px white;
}
25%{
  border: 5px solid rgb(230, 95, 95);
  
}
50%{
  border: 5px solid rgb(194, 100, 226);
  
}
75%{
  border: 5px solid rgb(87, 218, 87);
  
}
100%{
  transform: rotate(360deg);
  border: 5px solid rgb(55, 195, 205);
  box-shadow: 0px 0px 10px rgb(55, 195, 205);
}
}

.song-list img{
  width: 100px;
  aspect-ratio: 3/2;
}

.player-controls{
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 0;
}

button{
background-color: transparent;
font-size: 30px;
color: white;
border-radius: 50%;
text-align: center;
padding-top: 7px;
padding-left: 5px;
padding-right: 5px;
border: none;
width: 50px;
height: 50px;
}



.progress-bar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  gap: 10px;
}

input{
  width: 300px;
  
}

@media(max-width:500px){
  input{
    width: 180px;
  }
  
}

.footer {
  background-color: #33333349;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media {
  margin-bottom: 10px;
}

.social-media a {
  color: #fff;
  margin: 0 10px;
  font-size: 20px;
  transition: color 0.3s;
}

.social-media a:hover {
  color: #ddd;
}

.footer p {
  margin: 0;
}

.volume-control {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 117px;

}

@media(max-width:790px){
  .volume-control {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 96px;
  
  }
}
.volume-bar {
  width: 90px;
  height: 6px;
  border-radius: 4px;
  outline: none;
  
}

.mute{
  border: none;
  font-size: 20px;
}

.artist{
  font-weight: bold;
  color: rgb(181, 82, 82);
}

span{
  width: 30px;
  padding-bottom: 8px;
  gap: 10px;
}


button {
  background-color: transparent;
  font-size: 30px;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  padding-top: 7px;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
}



button.active {
  color: yellow; /* Change this to your preferred active color */
  border: 1px solid yellow;
}

.play{
  border: 1px solid white;
  background-color: black;
}


